<!DOCTYPE html>
<html lang="en">

<head>
    <link as="style" preload href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <style>
        body {
            font-family: Roboto, 微軟正黑體, Microsoft JhengHei, Helvetica Neue,
                Helvetica, Arial, PingFang TC, 黑體-繁, Heiti TC, 蘋果儷中黑,
                Apple LiGothic Medium, sans-serif;
        }
    </style>
</head>

<body class="m-0 h-screen flex flex-col justify-center items-center text-gray-900">
    {{ template "app.html" . }}
</body>

</html>